html, body, section, article, p, div, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  color: inherit;
  background: transparent;
}

.tile {
  border-style: outset;
  display: block;
  float: left;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  border: 5px outset;
  text-align: center;
}

.bombed {
  border-style: inset;
}

.revealed {
  border-style: inset;
}

.flagged {

}

.main {
  height: 300px;
  width: 300px;
  margin: auto;
}

.play-again {
  display: block;
  text-align: center;
  margin: auto;
  font-size: 30px;
}

h1, h3 {
  margin: auto;
  display: block;
  text-align: center;
}

h3 {
  font-size: 40px;
}

.group:after {
  display: block;
  clear: both;
  content: "";
}

.gameBoard {
  height: 300px;
  width: 300px;
  margin: auto;
}

.modal {
  display: none;
}
.modal.is-active {
  display: block;
}
.modal-screen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.7);
}
.modal-content {
  position: absolute;
  z-index: 1000;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 50px;
  margin-left: -250px;
  transform: translateY(-50%);
  background: white;
  border-radius: 5px;
}
.modal-close {
  position: absolute;
  top: 0;
  right: 15px;
  font-size: 40px;
  font-weight: bold;
  cursor: pointer;
  color: gray;
}
.modal-close:hover {
  color: black;
}
